@font-face {
  font-family: 'FuturaBT';
  src: url("../font/FuturaBT.ttf");
}

.products {
  width: 60vw;
  max-height: 200%;
  min-height: 200%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-content: center;
  text-align: left;
  padding-left: 60vw;
  font-family: FuturaBT;
  margin-left: -40vw;
}
.products .productsection{
  width: 80vw;
  padding-left: 0vw;
  text-align: left;
}
/*Used for adding image at the beginning of Eboard Section*/
.products .gallery1 {
  width: 200px;
  margin-left: 15px;
  border: 1px solid white;
  max-height: 100px;
}
.products .gallery1 img {
  width: 100%;
  height: auto;
}
/*Individual Eboard Tile*/
.products .gallery {
  width: 160px;
  padding-right: 0px;
  margin-bottom: 20px;
  border: 1px solid snow;
  text-align: left;
  font-size: 20px;
  height: 280px;
  padding-bottom: 10px;
}
/*Space between Eboard Tiles*/
.products .galleryspace {
  width: 10px;
  height: 200px;
}

.products .gallery img {
  width: 18vw;
  height: auto;
  max-height: 220px;
  max-width:150px; 
}
.products .gallery .desc1 {
  width: 90%;
  color: black;
  font-size: 12px;
}
.productcontent .membertopimage {
  width: 80vw;
  height: 30vw;
  align-content: center;
}
.productcontent .membertopimage img {
  padding-left: 50vw;
  margin-left: -30vw;
  width: 58vw;
}
.productcontent .membertopimage2 {
  width: 80vw;
  height: 30vw;
  align-content: center;
  display: none;
}

.productcontent .inclusiontext {
  width: 60vw;
  padding-left: 50vw;
  margin-left: -30vw;
  text-align: left;
  font-family: FuturaBT;

}


@media (max-width: 850px){
  .products.gallery {
    width: 18vw;
    padding-right: 0px;
    margin-bottom: 20px;
    border: 1px solid snow;
    text-align: left;
    font-size: 20px;
    height: auto;
    padding-bottom: 10px;
  }
  .products .gallery .desc1 {
    font-size: 14px;
  }
  .productcontent .membertopimage {
    display: none;
  }
  .productcontent .membertopimage2 {
    display: inline-block;
    max-width: 60vw;
  }
  .productcontent .membertopimage2 img {
    padding-left: 50vw;
    margin-left: -30vw;
    width: 58vw;
    padding-bottom: 30px;
    padding-top: 45px;;
  }
  .products {
    display: none;
  }
  .productcontent .inclusiontext h2{
    font-size: 16px;
  }
}

@media (max-width: 450px){
  .productcontent .inclusiontext h2{
    font-size: 14px;
  }
  .productcontent .inclusiontext p{
    font-size: 12px;
  }
}

