.header {
  width: 100vw;
  background-color: #ffffff;
  height: 198px;
  font-family: FuturaBT;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #000000;
  
}