@font-face {
  font-family: "FuturaBT";
  src: url("../font/FuturaBT.ttf");
}

/* Desktop Home */
.homecontainer .imageText {
  margin-bottom: 10%;
}

.homecontainer .imageText .titleImage {
  width: 100%;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: -1;
  margin-top: -10px;
}

.homecontainer .tiptoeName1 {
  margin-top: -3%;
  margin-bottom: 5%;
  float: left;
  clear: none;
}

.homecontainer .tiptoeName1 .nameLogo1 {
  width: 15%;
  display: block;
  /* padding-left: 10%; */
  margin-left: 10%;
}

.homecontainer .tiptoeName1 .yourName2 {
  display: block;
  color: gray;
  margin-top: -4%;
  margin-left: 0%;
  padding-left: 50vw;
}
.homecontainer .tiptoeName1 .line1 {
  display: block;
  height: 1px;
  width: 20%;
  min-width: 150px;
  border: 0;
  border-top: 2px solid #000000;
  padding: 0;
  position: absolute;
  margin-left: 46%;
}

.homecontainer .timelineImg {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}

.homecontainer .homeimage .image3 {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}

.homecontainer .homeimage .stepsImg {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}

@media (max-width: 850px) {
  .homecontainer .tiptoeName1 .yourName2 {
    font-size: 14px;
  }
  .homecontainer .homeimage {
    display: none;
  }
}

/* Mobile Home */

.homemobiles {
  width: 100vw;
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-content: center;
  text-align: center;
  font-family: FuturaBT;
  margin-left: 20px;
}

.homemobilecontentimage {
  width: 45vw;
  height: auto;
}

.homemobiles .homemobilescontent {
  width: 45vw;
  margin-left: 0px;
  padding-bottom: 50px;
  padding-top: 60px;
}
.homemobiles .homemobilescontent img {
  width: 200px;
  height: auto;
}

.homemobiles .homemobilescontent2 {
  width: 45vw;
  margin-left: -5px;
  padding-bottom: 50px;
  padding-top: 125px;
}
.homemobiles .homemobilescontent2 img {
  width: 40vw;
  height: auto;
}

.homemobilecontent {
  margin-top: 120px;
  padding-bottom: 40px;
}

@media (min-width: 851px) {
  .homemobilecontent {
    display: none;
  }
}

/* Desktop Press */
.presssection {
  align-items: center;
  justify-content: center;
  margin-left: -4vw;
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 17vw;
  height: 17vw;
  background-image: white;
  font-family: FuturaBT;
  color: #000000;
  margin-top: 2vh;
  margin-bottom: 6vh;
  margin-left: 8vw;
}
.hvrbox img {
  width: 100%;
  height: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.pressimages {
  width: 80vw;
  height: 68vh;
  background-image: white;
  font-family: FuturaBT;
  font-size: 16px;
  color: #000000;
  padding-top: 1vh;
  padding-bottom: 2vh;
  padding-left: 10vw;
}

.presscontainer {
  width: 100vw;
  height: 5vh;
  background-image: white;
  font-family: FuturaBT;
  font-size: 16px;
  color: #000000;
  padding-top: 1vh;
  padding-bottom: 7vh;
}

.presscontainer h1 {
  font-size: 50px;
  text-align: left;
  margin-left: 20%;
  font-family: FuturaBT;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.presscontainer h2 {
  font-size: 25px;
  text-align: left;
  margin-left: 14%;
  font-family: FuturaBT;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

@media (max-width: 850px) {
  .pressimages {
    display: none;
  }
}

/* Mobile Press */

.pressmobiles {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-content: center;
  text-align: center;
  font-family: FuturaBT;
  margin-left: 20px;
}

.pressmobiles .pressmobilescontent {
  width: 45vw;
  margin-left: 15px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.pressmobiles .pressmobilescontent img {
  width: 160px;
  height: auto;
}
.pressmobiles .pressmobilescontent .pressmobilesdesc {
  font-size: 18px;
  font-family: FuturaBT;
  text-align: center;
  padding-top: 50px;
  text-decoration: underline;
  width: 68%;
}

.pressmobilesdesc2 {
  font-size: 18px;
  font-family: FuturaBT;
  text-align: center;
  padding-top: 50px;
  text-decoration: underline;
  width: 68%;
  padding-left: 60px;
}

.pressmobiles .pressmobilescontent2 {
  width: 45vw;
  margin-left: -5px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.pressmobiles .pressmobilescontent2 img {
  width: 160px;
  height: auto;
}

.pressmobilecontent {
  margin-top: -50px;
  padding-bottom: 40px;
}
.pressline {
  width: 15vw;
  overflow: hidden;
  margin-left: 44vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 851px) {
  .pressmobilecontent {
    display: none;
  }
}
