.navbardesktop {
  display: block;
  width: 100%;
  min-width: 100%;
}

.desktopnavbar {
  background-color: white;
}

.desktoplogoimage {
  max-width: 190px;
}

@media (max-width: 850px) {
  .navbardesktop {
    display: None;
  }
}
