/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 2.5%;
  top: 5%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  
}

/* Position and sizing of close button */
.bm-cross-button {
  height: 49.2px !important;
  width: 49.2px !important;
  right: 2.5vw !important;
  top: 5vh !important;
}

/* Color/shape of close button */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0px;
}

/* General sidebar styles */
.bm-menu {
  background-image: linear-gradient(to right, #e19c9c, #dd8a8a);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  top: 0px;
  left: 0px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}


@font-face {
  font-family: 'FuturaBT';
  src: url("font/FuturaBT.ttf");
}

.nav {
    margin-top: 4%;
    height: 100px;
}

.dropdown_b {
  border: none;
  background-color: white;
  width: 93px;
  height: 34px;
  font-family: FuturaBT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  float: left;
  margin-left: 7%;
  margin-top: 0.05%;
}

.dropdown_b:hover {
  text-decoration: underline;
}

.dropdown_b:focus {
  outline: none;
}

.container {
  background-color: #dd8a8a;
  width: 100%;
  height: 45%;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.buttonbox {
  margin-top: 3%;
  margin-left: 5%;
}

.button {
  border: none;
  background-color: #dd8a8a;
  color: white;
  font-family: FuturaBT;
  font-size: 14px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}

.button:focus {
  outline: none;
}

.imagebox1 {
  margin-top: 3%;
  margin-left: 10%;
}

.navbarimage1 {
  width: 200%;
  height: 80%;
}

.imagebox2 {
  margin-top: 3%;
  margin-left: 20%;
}

.navbarimage2 {
  width: 200%;
  height: 80%;
}

.imageboxtext {
  width: 209px;
  height: 36px;
  text-shadow: 0 4px 8px #000000;
  font-family: FuturaBT;
  font-size: 18px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}

.navAbout {
    width: 93px;
    height: 34px;
    font-family: FuturaBT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    float: left;
    margin-left: 7%;
    margin-top: 0.5%;
}

.navProjects {
    width: 129px;
    height: 34px;
    font-family: FuturaBT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    float: left;
    margin-left: 7%;
    margin-top: 0.5%;
}

.navShop {
    width: 74px;
    height: 34px;
    font-family: FuturaBT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    float: right;
    margin-right: 7%;
    margin-top: 0.5%;
}

.navKor {
    width: 60px;
    height: 34px;
    font-family: FuturaBT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    float: right;
    margin-right: 7%;
    margin-top: 0.5%;
}

.mainlogo {
  margin-bottom: 80px;
  width: 20%;
  display: block;
  margin-left: 42%;
  margin-right: 42%;

}