@font-face {
  font-family: 'FuturaBT';
  src: url("../font/FuturaBT.ttf");
}

.navbar {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 15px;
  max-height: 10px;
  width: 100vw;
}

.navbar .navbutton .navLeft {
  width: 60px;
  height: 34px;
  font-family: FuturaBT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  float: left;
  margin-left: 7%;
  margin-top: 10px;
}

.navbar .navbutton .navLeft:hover {
  text-decoration: underline;
}

.navbar .navbuttom .navRight {
  width: 60px;
  height: 34px;
  font-family: FuturaBT;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  float: right;
  margin-right: 7%;
  margin-top: 20px;
}

.navbar .navbuttom .navRight:hover {
text-decoration: underline;
}


.navbar .navbuttom  .mainNavLogo {
  margin-bottom: 80px;
  display: block;
  margin-left: 42%;
  margin-top: -20px;
  max-width: 238px;
  max-height: 50px;
  height: auto;
  width: auto;
}


.navbar .navbuttom .navShop {
    width: 60px;
    height: 34px;
    font-family: FuturaBT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    float: right;
    margin-right: 7%;
    margin-top: 20px;
}

.navbar .navbuttom .navShop:hover {
  text-decoration: underline;
}

.navbar .navbuttom .navPress {
    width: 60px;
    height: 34px;
    font-family: FuturaBT;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    float: right;
    margin-right: 7vw;
    margin-top: 20px
}

.navPress:hover {
  text-decoration: underline;
 }


 .navbar .navbuttom  .mainlogo {
  margin-bottom: 80px;
  display: block;
  margin-left: 42%;
  margin-top: -20px;
  max-width: 238px;
  max-height: 40px;
  height: auto;
  width: auto;
}

@media (max-width: 850px) {
  .navbar .navbutton .navLeft {
    display: None;
  }
  .navbar .navbutton .navLeft {
    display: None;
  }
  .navbar .navbutton .navShop {
    display: None;
  }
  .navbar .navbutton .navPress {
    display: None;
  }
}


