@font-face {
    font-family: 'FuturaBT';
    src: url("../font/FuturaBT.ttf");
  }
  
  a {
    font-family: FuturaBT;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: center;
    color: #dd8a8a;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index:2;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: white;
    text-align: center;
  }
  
  .header li a {
    display: block;
    padding: 12px 12px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 350px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .mainlogo2 {
      width: 20%;
      padding-top: 20px;
      margin-left: 42vw;
      width: 100px;
  }
  .mobilenavbar {
    height: 50px;
  }
  
  @media (min-width: 851px) {
    .header {
        display: None;
    }
    .mobilenavbar {
      display: None;
    }
  }

  @media (max-width: 500px) {
    a {
      font-size: 11px;
    }
    .header .menu-btn:checked ~ .menu {
      height: 185px;
    }
    .header li {
      height: 30px;
    }
    .header li a {
      padding: 10px 10px;
    }
  }
