@font-face {
  font-family: 'FuturaBT';
  src: url("../font/FuturaBT.ttf");
}


.ourmissioncontainer .logoImage {
  float: left;
  width: auto;
  height: 36px;
  padding-left: 8vw;
}

.ourmissioncontainer .tiptoeText {
  display: block;
  font-size: 34px;
  color: gray;
  margin-top: -4%;
  border-bottom: 2px solid black;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 25vw;
  width: 85px;
}



.tiptoeName1 {
  margin-top: -1%;
  margin-bottom: 5%;
  float: left;
  clear: none;
  width: 75vw;
  font-size: 20px;
}

.nameLogo1 {
  width: 15%;
  margin-left: 35vw;
  display: block;
  padding-left: -360px;

}

.yourName1 {
  display: block;
  padding-left: 20vw;
  font-size: 100px;
  color: gray;
  margin-top: -4%;
}

.line1 {
  display: block;
  height: 1px;
  width: 13vw;
  border: 0;
  border-top: 2px solid #000000;
  padding: 0;
  position: absolute;
  margin-left: 50%;
}

.video {
  width: 50vw;
  min-height: 480px;
  padding-left: 50vw;
  margin-left: -360px;
  margin-top: -100px;
  position: relative;
  padding-top: 120px;
}

.video iframe{
  align-self: center;
  align-items: center;
}


.ourmissioncontainer3 {
  width: 100vw;
  height: 300px;
  text-align: center;
  font-family: FuturaBT;
  font-size: 16px;
  color: #858585;
  padding-top: 5vh;
  padding-bottom: 8vh;
  align-content: center;
  margin-bottom: 14vh;
}

.ourmissioncontainer3 .textContent3 {
  width: 600px;
  height: 50px;
  text-align: left;
  padding-left: 50vw;
  margin-left: -300px;
  padding-bottom: 0px;
}

.ourmissioncontainer3 h2{
  font-size: 18px;
  color: darkslategrey;
}



@media (max-width: 850px){
  .mainImage2 {
    margin-bottom: -2.2vw;
  }
  .ourmissioncontainer {
    height: 20vw;
    min-height: 120px;
    
  }
  .tiptoeName1{
    font-size: 16px;
  }

  .video {
    margin-left: -30vw;
    min-height: 200px;
    margin-top: -120px;
  }
  .video iframe {
    width: 60vw;
    height: 40vw;
  }
  
  .ourmissioncontainer h2{
    font-size: 16px;
  }
  .ourmissioncontainer p{
    font-size: 14px;
  }
  .ourmissioncontainer .textContent {
    width: 65vw;
    padding-left:50vw;
    margin-left: -30vw;
  }

  .ourmissioncontainer3 {
    height: 20vw;
    min-height: 120px;
    font-size: 14px;
    margin-bottom: 24vh;
  }
  
  .ourmissioncontainer3 .textContent3 {
    width: 65vw;
    padding-left:50vw;
    margin-left: -30vw;
    padding-bottom: 0px;
  }
  
  .ourmissioncontainer3 h2{
    font-size: 15px;
    color: darkslategrey;
  }

}

@media (max-width: 450px){
  .mainImage2 {
    margin-bottom: -2.6vw;
  }
  .ourmissioncontainer p{
    font-size: 11px;
  }
  .ourmissioncontainer3 .textContent3{
    font-size: 11px;
  }

  .ourmissioncontainer3 .h2{
    font-size: 12px;
  }
}
